
:root {
    /*colocar as variáveis aqui*/
    --bg-nav-color: #061b43;
    --bg-selection-color: #048FB4;
    scroll-padding-top: 150px;
    /* Ajuste este valor conforme a altura do header */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & ::selection {
        background-color: var(--bg-selection-color);
        color: white;
    }
}

html {
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.color-2 {
    background-color: #dae7eb;
}

.color {
    background-color: #f4f1f8;
}

.height {
    height: 200px;
    background-color: #ddd5e9;
}

.flex {
    display: flex;
}

.Oswald {
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
}

.Latan {
    font-family: "Latan", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    display: flex;
    flex-direction: column;
}

/*SITE TOP START*/
.wave-container {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/index/jellyfish_main.jpg);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 100px;  
    padding-left: 35px;

}

.banner .wave-container h1 {

    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    color: #d2a5e6;
}

.banner h2 {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 3em;
    font-style: normal;
    color: white;
}

.banner button {
    font-family: "Latan", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #d2a5e6;
    background-color: transparent;
    border: none;
}

/*WAVE EFEITO START*/
.custom-shape-divider-bottom-1726848696 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

}

.custom-shape-divider-bottom-1726848696 svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 133px;
}

.custom-shape-divider-bottom-1726848696 .shape-fill {
    fill: #f4f1f8;

}

/*WAVE EFEITO END*/
/* TOP SITE END */

/* MAIN START */
main {
    height: auto;
}

main h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 4em;
    font-style: normal;
    color: #061b43;
}

main p {
    width: 600px;
    padding-top: 10px;
    z-index: 1;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 50;
    font-size: 16px;
    font-style: normal;
    color: #37445f;
}

/* SOBRE ONG START */
.sobre-aquamarine {
    display: flex;
    flex-direction: column;
}

.sobre-aquamarine button {
    background-color: transparent;
    border: none;
    padding-top: 12px;

    font-family: "Latan", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #59284d;
}

.container-sobreAquamarine {
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    margin: 0 5% 0 5%;
    padding-top: 5%;

    background-color: #f4f1f8;
}

/* SLIDER MAIN START */
.container-slider {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 700px;
    min-height: 500px;
    padding-bottom: 20px;
}

.container-imagens {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
}

.slider {
    position: absolute;

    width: 100%;
    max-height: 450px;
}

#prev-button,
#next-button {
    align-items: center;

    width: 30px;
    height: 30px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img,
#next-button img {
    width: 100%;
    height: 100%;
}

.container-slider {
    display: flex;
}

.slider {
    width: 600px;
    max-width: 100vw;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;

    width: max-content;
    height: 100%;

    transition: 1s;
}

.slider .list img {
    width: 600px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;
    justify-content: space-between;

    width: 90%;
}

.slider .buttons button {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;

    width: 100%;
    bottom: 10px;
    margin: 0;
    padding: 0;

    color: #fff;
}

.slider .dots li {
    width: 10px;
    height: 10px;
    margin: 10px;

    list-style: none;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

/* SLIDE MAIN END */

/* WAVE EFEITO FOTO BALEIA START */
.wave-container-2 {
    position: relative;
    width: 100%;
    height: 900px;
    /* Ajuste o tamanho conforme necessário */
    background-image: url(../img/index/baleia-wave.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    /* Garante que nada exceda o contêiner */
}

.wave-2 {
    position: absolute;
    top: 0;
    /* Posiciona a onda no topo */
    width: 100%;
    height: auto;
}

.wave-1 {
    position: absolute;
    bottom: 0;
    /* Posiciona a onda na parte inferior */
    width: 100%;
    height: auto;
}

/* WAVE EFEITO FOTO BALEIA END */
/* PROJETOS START */
.container-projetos {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
    margin-bottom: 5%;

    background-color: #dae7eb;
}

.projetos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-bottom: 5%;

    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 50;
    font-size: 16px;
    font-style: normal;
    color: #37445f;
}

.projetos-info h1 {
    padding-bottom: 6px;
}

.projetos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* From Uiverse.io by vamsidevendrakumar */
.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    position: relative;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front-1,
.card-front-2,
.card-front-3,
.card-front-4,
.card-back {
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}

.card-front-1 {
    background-image: url(../img/index/projetos/projeto-praias-limpas.jpg);
    background-position: center;
    background-size: cover;
}

.card-front-2 {
    background-image: url(../img/index/projetos/projeto-salve-tartarugas.jpg);
    background-position: bottom center;
    background-size: cover;
}

.card-front-3 {
    background-image: url(../img/index/projetos/projeto-salve-tubarão.jpg);
    background-position: center;
    background-size: cover;
}

.card-front-4 {
    background-image: url(../img/index/projetos/projeto-palestras.jpg);
    background-position: center;
    background-size: cover;
}

.card-front-1,
.card-front-2,
.card-front-3,
.card-front-4 {
    display: flex;
    align-items: center;
    justify-content: start;
    align-items: end;

    padding-left: 10px;
    padding-bottom: 15px;

    border-radius: 10px;
    background-color: #6A2C70;
    color: #fff;
    font-size: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    transform: rotateY(0deg);
    text-transform: uppercase;
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* Empurra o botão para a parte inferior */
    padding: 20px;
    font-size: 24px;
    transform: rotateY(180deg);
    border-radius: 10px;

    background-color: #d2a5e6;
    color: #fff;
}

.card-back p {
    margin: 0;
    /* Remove o espaço extra se necessário */
    width: 250px;
    height: 150px;
    padding-bottom: 10px;

    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    font-style: normal;
    color: #061b43;
}

.card-back button {
    padding: 8px 16px;

    font-size: 1rem;
    background-color: #6A2C70;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Latan", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* PROJETOS END */
.container-animais-impactados {
    display: flex;
    flex-direction: column;

    background-color: #a5c5cd;
}

.container-animais-impactados h1 {
    margin: 5% 0 5% 0;

    text-align: center;
}

.animais-impactados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20rem;
}

.animais-impactados img {
    width: 100px;
    height: 100px;
}

.animais-impactados span {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    font-weight: 600;
    font-style: normal;
    color: #59284d;
}

.realocados,
.cuidados,
.resgatados {
    width: 200px;
    height: auto;

    margin-bottom: 0;

    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
}

/* WAVE TOP START */
.custom-shape-divider-top-1730642411 {
    /* position: absolute; */
    top: 0;
    left: 0;

    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1730642411 svg {
    position: relative;
    display: block;

    width: calc(100% + 1.3px);
    height: 98px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1730642411 .shape-fill {
    fill: #dae7eb;
}

/* WAVE TOP END */

/* NOTICIAS START */
.container-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noticias-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 50;
    font-size: 16px;
    font-style: normal;
    color: #37445f;
}

.noticias-info h1 {
    padding-bottom: 6px;
}

.card-news h1 {
    position: relative;

    display: inline;
    padding: 3px 0 !important;

    background: #00000060;
}

.noticias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.noticias h1 {
    width: 400px;
    padding-top: 0.5rem;

    font-size: 1.1rem;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

.noticias h3 {
    width: 450px;

    color: gainsboro;
}

.n-1,
.n-2,
.n-3,
.n-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 30%;
    height: 280px;
    padding: 12px;

    cursor: pointer;
}

.n-1 {
    position: relative;

    background-image: url(https://www.reciclasampa.com.br/imgs/conteudos/03_lixo_praias_brasil_padrao.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 12px;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease;

}

.n-1:hover .overlay {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0);
}

.hidden-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    color: black;
    font-size: 16px;
}

.n-1:hover .hidden-text {
    opacity: 1;
    visibility: visible;
}

.n-2 {
    background-image: url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2024/09/19/366794775-memorial.jpg);
    background-position: center;
    background-size: cover;
}

.n-3 {
    background-image: url(https://blog.sympla.com.br/wp-content/uploads/2023/10/08-projeto-tamar.jpg);
    background-position: center;
    background-size: cover;
}

.n-4 {
    background-image: url(https://s2-g1.glbimg.com/UmUecOEvsbKMGTw8kQpNg3Q50ug=/0x0:4135x2757/984x0/smart/filters:strip_icc/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/T/j/AH2JoYQaCFKVTGxmfjwQ/credits-to-todd-southgate-sea-shepherd-brasil-fev-2-2023-2.jpg);
    background-position: center;
    background-size: cover;
}

#divlink {
    background-color: #D0D0D0;

    width: 100px;
    height: 100px;
    cursor: pointer;
}

a.link {
    display: block;

    height: 100%;
    width: 100%;

    text-decoration: none;
}

/* NOTICIAS END */
@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }

}

/* BREAKPOINTS */


@media (max-width: 576px) {
    /* Estilos para telas pequenas */

    /* HEADER START */

    header {
        padding: 15px 1%;
    }

    header ul li {
        margin: 5px 0;
        font-size: 0.8em;
    }

    /* HEADER END */

    /* MAIN START */
    section .text-main h1 {

        width: 20px;
        text-align: center;
        padding-bottom: 5%;
        font-weight: bolder;

    }

    section h2 {
        font-size: 1.5em;
        font-weight: bolder;

    }

    .wave-container {
        background-size: cover;
        background-position: 40%;
        padding: 1rem;
        min-height: 70vh;
        position: relative;
        /* align-items: center; */

    }

    .container-sobreAquamarine {
        gap: 0;
        text-align: center;
    }

    .sobre-aquamarine h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .sobre-aquamarine p {

        width: 100%;
        align-items: center;
        font-size: 1rem;
        text-indent: 20px;
        text-align: left;
    }

    .container-slider {
        width: 100%;

        padding: 0;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-projetos h1 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }

    .container-projetos p {
        text-align: center;
        width: 100%;
        padding: 5%;
        flex-wrap: wrap;
    }

    .card {
        width: 350px;
        height: 300px;
    }

    .animais-impactados {
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cuidados,
    .resgatados,
    .realocados {
        padding-bottom: 5%;
    }

    .resgatados {
        padding-top: 5%;
    }

    .container-animais-impactados h1 {
        font-size: 2.5rem;
        padding-top: 5%;
        margin: 2px;

    }

    .noticias-info h1 {
        font-size: 2.5rem;
    }

    .noticias-info p {
        text-align: center;
        width: 100%;
        padding: 5%;
        flex-wrap: wrap;
    }

    .noticias {
        flex-direction: column;
    }

    .noticias h1 {
        width: 400px;
    }

    .noticias h3 {
        width: 400px;
    }

    .n-1,
    .n-2,
    .n-3,
    .n-4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 94%;
    }

}

@media screen and (max-width: 420px) {
    header {
        padding: 15px 1%;
    }

    header ul li {
        margin: 5px 0;
        font-size: 0.8em;
    }

    section .text-main h1 {

        width: 100%;
        text-align: center;
        /* padding-bottom: 10%; */
        font-weight: bolder;
        color: white;
    }

    section h2 {
        font-size: 1.5em;
        font-weight: bolder;

    }

    .wave-container {
        background-size: cover;
        background-position: 10px left;
        padding: 0.5rem;
        min-height: 70vh;
        position: relative;
        align-items: center;

    }

    .none {
        visibility: hidden;
    }

    .text-main {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 320px;
        height: 280px;
    }

    /* MAIN END */
}

@media (min-width: 768px) and (max-width: 992px) {
    /* Estilos para tablets */


    /* MAIN START */

    .container-sobreAquamarine {

        padding-top: 8%;
        text-align: center;
        /* padding-left: 10px; */
    }

    .sobre-aquamarine h1 {
        font-size: 4rem;

    }

    .sobre-aquamarine p {

        width: 100%;
        align-items: center;
        font-size: 1.5rem;
        text-indent: 20px;
        text-align: left;
    }

    .container-slider {
        width: 100%;

        padding: 0;
    }

    .projetos {
        display: flex;
        flex-wrap: wrap;
    }

    .container-projetos h1 {
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }

    .container-projetos p {
        text-align: center;
        width: 100%;
        padding: 5%;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .card {
        width: 350px;
        height: 300px;
    }

    .card-back p {
        font-size: 18px;
    }

    .animais-impactados {
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .container-animais-impactados h1 {
        font-size: 4rem;
        padding-bottom: 5%;
        padding-top: 3%;
        margin: 2px;
    }

    .noticias-info h1 {
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }

    .noticias-info p {
        text-align: center;
        width: 100%;
        padding: 5%;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .noticias {
        width: 100%;
    }

    .noticias h1 {
        width: 250px;
    }

    .noticias h3 {
        width: 250px;
    }

    .n-1,
    .n-2,
    .n-3,
    .n-4 {
        display: flex;
        width: 45%;
    }

    /* MAIN END */
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para desktops pequenos */

}

@media (min-width: 1201px) and (max-width: 1490px) {

    .container-sobreAquamarine {

        text-align: center;
        padding-left: 10px;
    }

    .sobre-aquamarine h1 {
        font-size: 5rem;
    }

    .sobre-aquamarine button {
        font-size: 1.5rem;
    }

    .sobre-aquamarine p {

        width: 600px;
        align-items: center;
        font-size: 1.1rem;
        text-indent: 20px;
        text-align: left;
    }

    .container-slider {
        width: 500px;
        padding: 0;
    }

    .container-projetos h1 {
        font-size: 5rem;
        width: 100%;
        text-align: center;
        padding-top: 3%;
    }

    .container-projetos p {
        text-align: center;
        width: 80%;
        padding: 5%;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .projetos {
        gap: 1rem;
    }

    .card-back p {
        font-size: 15px;
        padding: 0;
    }

    .noticias-info h1 {
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }

    .noticias-info p {
        text-align: center;
        width: 100%;
        padding: 5%;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .noticias {
        width: 100%;
    }

    .noticias h1 {
        width: 350px;
    }

    .noticias h3 {
        width: 250px;
    }
}