:root {
    /*colocar as variáveis aqui*/
    --bg-background-color: #082150;
    --bg-button-color: #0a2f73;
    --bg-button-hover-color: #0c3a8e;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-background-color);
}

/* Navbar */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
    color: white;
}

header.rolagem {
    background-color: var(--bg-background-color);
    padding: 30px 3%;

}

header img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

header ul {
    list-style-type: none;

}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* Inicio da pagina */

.title{
    color: white;
    margin-top: 30vh;
    margin-left: 24vh;
    display: flex;
    align-items: center;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    margin-top: 8vh;
    margin-bottom: 5vh;
    padding: 5vh;
    padding-bottom: 8vh;
    background-color: rgb(237, 236, 236);
    width: 80%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
                0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.content-title{
    text-align: center;
}

.content-items{
    display: flex;
    margin-top: 7vh;
    gap: 6vh;
}

.project-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image img{
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
                0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.project-description{
    width: 45%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p{
    text-indent: 8vh;
    white-space: normal;           /* Permite que o texto quebre em linhas normalmente */
    overflow-wrap: break-word;     /* Permite que palavras longas quebrem para a próxima linha, se necessário */
    word-break: normal;            /* Permite que as palavras se quebrem apenas em espaços */
    max-width: 100%;               /* Limita a largura do parágrafo ao tamanho do container */
    margin: 0;                     /* Remove margens padrão */
}

.donation-button{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-button-color);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
                0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
    transition: transform 0.2s, background-color 0.2s;
  }

  .button:hover{
    transform: scale(0.95);
    background-color: var(--bg-button-hover-color);
    text-decoration: none;
  } 