:root {
    /*colocar as variáveis aqui*/
    --bg-background-color: #082150;
    --bg-button-color: #0c3073;
    --bg-button-hover-color: #1a4697;
    --bg-rosa: #d2a5e6;
    --bg-rosa-claro: #f1d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sla{
    background-image: url(../img/pexels-alohaphotostudio-8710944.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: solid #08215000;               /* por algum motivo, essa div so engloba o header se tiver border solid */
}

/* Navbar */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1;
    /* background-color: #082150; */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
}

header.rolagem {
    background-color: var(--bg-background-color);
    padding: 30px 3%;

}

header img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

header ul {
    list-style-type: none;

}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* Inicio pagina */

main{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
}

.container-doacao{
    display: flex;
    position: relative;
    width: 70%;
}

.doacao-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    border: solid var(--bg-rosa);
    border-radius: 50%;
    background-color: var(--bg-rosa-claro);
    width: 72px;
    height: 72px;
}

.doacao-icon img{
    width: 56px;
    height: 56px;
    padding: 5%;
}

.doacao-content{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 24px;
    background-color: azure;
    border-radius: 10px;    
}

.doacao-content h2{
    text-align: center;
    margin-bottom: 18px;
}

.doacao-content p{
    text-indent: 3vw;
    text-align: justify;
}

.donation-button{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-button-color);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
                0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
    transition: transform 0.2s, background-color 0.2s;
}

.button:hover{
    transform: scale(0.95);
    background-color: var(--bg-button-hover-color);
    text-decoration: none;
} 

.projetos{
    background-color: white;
    margin-top: 112px;
}

.projetos-texto{
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.projetos-texto h1{
    text-align: center;
}

.projetos-texto p{
    text-indent: 3vw;
    text-align: justify;
}