# Ignorar arquivos de ambiente virtual
venv/
.env
.env.local
.env.*.local

# Ignorar arquivos de cache
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração de IDEs
.idea/
.vscode/

# Ignorar arquivos temporários
*.tmp
*.temp

# Ignorar arquivos de backup
*~
*.bak
*.ini