:root {
    /*colocar as variáveis aqui*/
    --bg-nav-color: #061b43;
}

/* navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 50px 3%;

    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1000;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
    color: white;
}

header.rolagem {
    background-color: var(--bg-nav-color);
    padding: 30px 3%;
}

.nav img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

header nav ul {
    list-style-type: none;
}

/* ==== ANIMAÇÃO DE HOVER DO MOUSE PARA NAVBAR ==== */

header nav ul li {
    display: inline-block;
    margin: 0 30px;
    white-space: nowrap;
    position: relative;
}

header nav ul li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
}

header nav ul li:hover::before {
    width: 100%;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* ====== definições da navbar ===== */


.logo-div {
    justify-content: left;
}

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-contato {
    display: none;
}

.hamburger {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin-top: 5px;
}

@media (max-width: 750px) {
    .div-contato {
        display: none;
    }

    .nav-contato {
        display: flex;
    }

    .hamburger {
        position: relative;
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100svw;
        height: 100svh;
        background-color: var(--bg-nav-color);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
}

/* footer */

.footer {
    background-color: #000;
    width: 100%;
    padding: 40px 20px 0 20px;

    text-align: center;
    position: relative;

    color: #f1f1f1;
}

.footer-row {
    display: flex;
    /* Mantém o uso de flexbox */
    flex-direction: row;
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: space-around;
    /* Distribui o espaço horizontalmente */
    color: #fff;
    /* Cor do texto */
    padding: 20px 0;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    flex-wrap: wrap;
    margin-top: 10%;
}

.footer img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.footer-title {

    font-size: calc(2.2rem + 4svw);
    font-weight: bold;
    color: #f1f1f1;
    text-transform: uppercase;


    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    /* font-size: 3em; */
    font-style: normal;
    font-weight: bold;
    color: #f1f1f1;
    text-transform: uppercase;
}

.footer-info {
    margin-bottom: 15px;

    font-size: 0.8em;
    color: #bdbdbd;
}

.footer-info a {
    color: white;

    &#login {
        text-decoration: none;
    }
}

.footer-info p {
    margin: 5px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    color: #d1d1d1;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social-icons a img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.custom-shape-divider-bottom-1733103704 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733103704 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 201px;
}

.custom-shape-divider-bottom-1733103704 .shape-fill {
    fill: #000000;
}


@media screen and (max-width: 576px) {
    .footer-row {
        flex-direction: column;
        gap: 1.2rem;
    }
}

/* Breakpoints */
@media screen and (max-width: 420px) {
    /* header start */

    header {
        padding: 15px 1%;
    }

    header ul li {
        margin: 5px 0;
        font-size: 0.8em;
    }

    /* header end */
}

@media (max-width: 576px) {
    /* Estilos para telas pequenas */

    /* header start */

    header {
        padding: 15px 1%;
    }

    header ul li {
        margin: 5px 0;
        font-size: 0.8em;
    }

    /* header end */

}

/* @media (min-width: 768px) and (max-width: 992px) {
    
}
@media (min-width: 993px) and (max-width: 1200px) {
    

}

@media (min-width: 1201px) and (max-width: 1490px) {
    

} */